@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

form {
    margin: 20px 0;
}

label {
    display: inline-block;
    width: 150px;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea,
select {
    width: 300px;
    padding: 5px;
    margin: 5px 0;
}


input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}
