<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>newcustomerlogin</display-name>
    <servlet-name>newcustomerlogin</servlet-name>
    <servlet-class>newcustomerlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newcustomerlogin</servlet-name>
    <url-pattern>/newcustomerlogin</url-pattern>
  </servlet-mapping>
  <display-name>BankingApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>CloseAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadPDFServlet</servlet-name>
    <servlet-class>DownloadPDFServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>DepositServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>WithdrawServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listCustomer</servlet-name>
    <servlet-class>listCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <servlet-class>RegisterCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadPDFServlet</servlet-name>
    <url-pattern>/DownloadPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listCustomer</servlet-name>
    <url-pattern>/listCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <url-pattern>/RegisterCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>